* {
  font-family: Inter, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

#image {
  z-index: -1;
  position: fixed;
  width: 100%;
  transform-origin: top left;
  user-select: none;
}

img {
  position: fixed;
  width: 100%;
  user-select: none;
  image-rendering: pixelated;
}

#IMGs {
  position: fixed;
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

#IMGs > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: transparent;
  min-width: 0;
}

#viewName {
  position: fixed;
  color: #fff;
  font-size: calc(1.5vh + 1.5vw);
  pointer-events: none;
  background-color: black;
  text-align: center;
  width: calc(25vh + 25vw);
  overflow: hidden;
  margin-left: calc(50% - (12.5vh + 12.5vw));
  user-select: none;
}

#fileSelect {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  border: 1px solid #444;
  font-size: calc(1.2vh + 1.2vw);
  background-color: #222;
  color: #ddd;
  cursor: pointer;
  transition-duration: 0.25s;
  border-radius: 15px;
}

#fileSelect a {
  color: #888;
  font-size: calc(0.6vh + 0.6vw);
}

#fileSelect.addMore {
  top: 0;
  left: initial;
  padding: 0;
  transform: none;
  font-size: calc(1vh + 1vw);
  border-radius: 0 0 8px 8px;
  position: relative;
  border-top: 0;
  margin: 0 2.5px;
  aspect-ratio: 1;
  height: 35px;
  cursor: pointer;
  transition-duration: 0s;
  background-image: url(img/add.svg);
  background-size: contain;
}
#fileSelect.addMore:hover {
  background-color: #333;
}

 .imageName {
  display: flex;
  background-color: #222;
  border: 1px solid #444;
  border-top: 0;
  margin: 0 2.5px;
  border-radius: 0 0 8px 8px;
  transition-duration: 0.1s;
  cursor: grab;
 }

 .active > .imageName {
  background-color: #333;
 }

 .imageName input {
  color: #ddd;
  font-size: 28px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  margin: 0;
  flex-grow: 1;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: grab;
  min-width: 0;
 }

 .imageName button {
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  border: 0;
  float: right;
  mask-image: url(img/remove.svg);
  mask-size: contain;
  transform: scale(0.65);
  background-color: #888;
  cursor: pointer;
 }

 .imageName button:hover {
   mask-image: url(img/remove-box.svg);
   transform: scale(1);
  background-color: #c44747;
 }

 #dropIndicator {
  position: fixed;
  margin-left: -2px;
  height: 30px;
  animation: dropIndicatorAnimation 1s infinite ease-in-out;
  width: 6px;
  background: #ddd;
  filter: drop-shadow(0px 0px 5px #000);
 }

 #dropIndicator:before {
  content: "";
  position: absolute;
  left: -4px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid #ddd;
}

@keyframes dropIndicatorAnimation {
 0%   {top: 75px;}
 30%  {top: 50px;}
 95%  {top: 50px;}
 100% {top: 75px;}
}